<img align="left" src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Assets&ArchHeader.jpeg?raw=true">

# IBM Cloud Pak for Data Version 4.0.2 - Multi-Cloud Virtualization Hands-on Lab

## Introduction
Welcome to the IBM Cloud Pak for Data Multi-Cloud Virtualization Hands on Lab. 

In this lab you analyze data from multiple data sources, from across multiple Clouds, without copying data into a warehouse.

This hands-on lab uses live databases, where data is “virtually” available through the IBM Cloud Pak for Data Virtualization Service. This makes it easy to analyze data from across your multi-cloud enterprise using tools like, Jupyter Notebooks, Watson Studio or your favorite reporting tool like Cognos.

### Where to find this sample online
You can find a copy of this notebook on GITHUB at https://github.com/Db2-DTE-POC/CPDDVHOL4.

### The business problem and the landscape
The Acme Company needs timely analysis of stock trading data from multiple source systems. 

Their data science and development teams needs access to:
* Customer data
* Account data
* Trading data
* Stock history and Symbol data

The data sources are running on premises and on the cloud. In this example many of the databases are also running on OpenShift but they could be managed, virtual or bare-metal cloud installations. IBM Cloud Pak for Data doesn't care. Enterprise DB (Postgres) is also running in the Cloud. Mongo and Informix are running on premises. 

To simplify access for Data Scientists and Developers the Acme team wants to make all their data look like it is coming from a single database. They also want to combine data to create simple to use tables.

In the past, Acme built a dedicated data warehouse, and then created ETL (Export, Transform and Load) job to move data from each data source into the warehouse were it could be combined. Now they can just virtualize your data without moving it.

### In this lab you learn how to:

* Sign into IBM Cloud Pak for Data using your own Data Engineer userid
* Connect to different data sources, on premises and across a multi-vendor Cloud
* Make remote data from across your multi-vendor enterprise look and act like local tables in a single database
* Make combining complex data and queries simple even for basic users
* Capture complex SQL in easy to consume VIEWs that act just like simple tables
* Ensure that users can securely access even complex data across multiple sources 
* Use roles and privileges to ensure that only the right user may see the right data
* Make development easy by connecting to your virtualized data using Analytic tools and Application from outside of IBM Cloud Pak for Data.

## Getting Started

### Using Jupyter notebooks
You are now officially using a Jupyter notebook! If this is your first time using a Jupyter notebook you might want to go through the Db2 Data Management Console Hands on Lab at www.ibm.biz/DMCDemosPOT. It includes an introduction to using Jupyter notebooks with the Db2 family. The introduction shows you some of the basics of using a notebook, including how to create the cells, run code, and save files for future use. 

Jupyter notebooks are based on IPython which started in development in the 2006/7 timeframe. The existing Python interpreter was limited in functionality and work was started to create a richer development environment. By 2011 the development efforts resulted in IPython being released (http://blog.fperez.org/2012/01/ipython-notebook-historical.html).

Jupyter notebooks were a spinoff (2014) from the original IPython project. IPython continues to be the kernel that Jupyter runs on, but the notebooks are now a project on their own.

Jupyter notebooks run in a browser and communicate to the backend IPython server which renders this content. These notebooks are used extensively by data scientists and anyone wanting to document, plot, and execute their code in an interactive environment. The beauty of Jupyter notebooks is that you document what you do as you go along.

### Connecting to IBM Cloud Pak for Data
For this lab you will be assigned a Data Engineer userid. Check with the lab coordinator which userid you should use. Your user id will start with DATAENGINEER and end in a number from 1 to 20. (If you are using this for self-training you can use any number from 1 to 20.)

* **Engineer:**
    * ID: DATAENGINEERx
    * PASSWORD: tsdvlab

If you have this notebook open, you should have already signed in as your assigned DATAENGINEER userid. 
1. To check your userid, click the icon at the very top right of the webpage. It will look something like this:

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/11.06.10 EngineerUserIcon.png?raw=true">

2. Click **Profile and settings** and review the user permissions for this user

As a Data Engineer you can:
* Add and modify Data sources. Each source is a connection to a single database, either inside or outside of IBM Cloud Pak for Data.
* Virtualize data. This makes tables in other data sources look and act like tables that are local to the Data Virtualization database
* Work with the data you have virtualized.
* Write SQL to access and join data that you have virtualized
* See detailed information on how to connect external analytic tools and applications to your virtualized data

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/DataVirtualizationMainMenu.png?raw=true">

As a User you can only:
* Work with data that has been virtualized for you
* Write SQL to work with that data
* See detailed connection information

As an Administrator (only available to the course instructor) you can also:
* Manage IBM Cloud Pak for Data User Access and Roles
* Create and Manage Data Caches to accelerate performance
* Change key service settings

## Basic Data Virtualization

### Exploring Data Source Connections
Let's start by looking at the Data Source Connections that are already available. 

You should now have this Hands-on Lab notebook on the left side of your screen and the Cloud Pak for Data Console on the right side of your screen. In the Cloud Pak for Data Console:

1. Click the three bar (hamburger) menu at the top left of the console
2. Click on the Data menu item if is not already expanded
3. Right click **Data virtualization** and select **Open in New Window**
4. Arrange your windows so that notebook is on one side of your screen and the Cloud Pak Data Virtualization Console is on the other side. This makes it easier to follow the instructions without having to jump back and forth between the notebook and the console.
    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/DesktopArrangment.png?raw=true">
5. If you don't see the page above, click the **Data Virtualization** menu in the Cloud Pak for Data Console and select **Data Sources**.
4. Click **Constellation View**. A spider diagram of the connected data sources opens. 
    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/ConstellationView.png?raw=true">

    This displays the Data Source Graph with 8 active data sources:
    * 4 Db2 Family Databases hosted on premises, on Cloud Pak for Data and on OpenShift on AWS
    * 1 Remote connector
    * 1 MongoDB Enterprise data server running as a Cloud Pak for Data service and on Premises
    * 1 Enterprise DB Postgres data server running on premises and on Cloud Pak for Data
    * 1 Netezza Performance Server (using the Pure Data for Analyics connection) running on the Cloud
    * 1 MySQL data server running on premises
    * 1 Informix Database running on premises 

**You are not going to add a new data source**. However, you can go through the steps so you can see how to add additional data sources.
1. Click **Add connection** in the upper-right of the console screen
2. Select **Select existing connection** from the menu
You can see a history of other data source connection information that was used before. This history is maintained to make reconnecting to data sources easier and faster.
3. Click **Data sources** at the top of the page to return to the Data Sources page.
in the area below the title and above the list of existing connections.
4. Click **Add connection** and **Create new connection**
5. Scroll through all the **available data sources** to see the available connection types

<img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/ListOfAvailableTypes.png?raw=true">

6. Select a data source from the list to see the information required to connect to a new data source. 
At a minimum you typically need the host URL and port address, database name, userid and password. You can also connect using an SSL certificate that can be dragged and dropped directly into the console interface. 
8. Click **Cancel** again to return to the list of currently connected data sources

### Exploring the available data
Now that you understand how to connect to data sources you can start virtualizing data. Much of the work has already been done for you. IBM Cloud Pak for Data searches through the available data sources and compiles a single large inventory of all the tables and data available to virtualize in IBM Cloud Pak for Data. 

1. Click the Data Virtualization menu and select **Virtualize** under **Virtualization**

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/DataVirtualizationMainMenu.png?raw=true">
    
2. Check the total number of available tables at the top of the list. There should be hundreds available.

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.24.37 PM.png?raw=true">

3. Enter "STOCK" into the search field and hit **Enter**. Any tables with the string
**STOCK** in the table name, the table schema or with a column name that includes **STOCK** appears in the search results. 

<img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2021-01-26 at 10.54.45 AM.png?raw=true">

4. Hover your mouse pointer to the far-right side to the search results table. A **preview** icon will appear on each row as you move your mouse. 
5. Click the **preview** icon beside one table. This displays a preview of the data in the selected table.

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/EyeIcon.png?raw=true">

6. Click **X** at the top right of the dialog box to return to the search results.

### Creating New Tables on a Source Database
So that each user in this lab can have their own data to virtualize you will create your own table in a remote database.

In this part of the lab, you use this Jupyter notebook and Python code to connect to a source database, create a simple table and populate it with data. 

IBM Cloud Pak for Data will automatically detect the change in the source database and make the new table available for virtualization.

In this example, you connect to the Db2 database running in IBM Cloud Pak for Data but the database can be anywhere. All you need is the connection information and authorized credentials. 

   <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Db2CPDDatabase.png?raw=true">

The first step is to connect to one of our remote data sources directly as if we were part of the team building a new business application. Since each lab user will create their own table in their own schema the first thing you need to do is update and run the cell below with your engineer name. 
1. In this Juypyter notebook, click on the cell below 
2. **Update the lab number** in the cell below to your assigned user and lab number
3. Click **Run** from the Jupyter notebook menu above

In [ ]:
# Setting your userID
labnumber = 1
engineer = 'DATAENGINEER' + str(labnumber)
print('variable engineer set to = ' + str(engineer))

The next part of the lab relies on a Jupyter notebook extension, commonly refer to as a "magic" command, to connect to a Db2 database. To use the commands you load load the extension by running another notebook call db2 that contains all the required code 
<pre>
&#37;run db2.ipynb
</pre>
The cell below loads the Db2 extension directly from GITHUB. Note that it will take a few seconds for the extension to load, so you should generally wait until the "Db2 Extensions Loaded" message is displayed in your notebook. 
1. Click the cell below
2. Click **Run**. When the cell is finished running, In[*] will change to In[2]

In [ ]:
!wget -O db2.ipynb https://raw.githubusercontent.com/Db2-DTE-POC/CPDDVHOL4/main/db2.ipynb
%run db2.ipynb
print('db2.ipynb loaded')

# Note on using Jupyter Notebooks
If you leave or if you restart your environment, or come back after a long absence to this notebook, you might see the following error when you try to run the **%sql** magic commands. 

If you see the following error **UsageError: Line magic function '%sql' not found**, please rerun the cell above to re-load the db2 magic commands that support **%sql**.

#### Connecting to Db2

Before any SQL commands can be issued, a connection needs to be made to the Db2 database that you will be using. 

The Db2 magic command tracks whether or not a connection has occured in the past and saves this information between notebooks and sessions. When you start up a notebook and issue a command, the program will reconnect to the database using your credentials from the last session. In the event that you have not connected before, the system will prompt you for all the information it needs to connect. This information includes:

- Database name
- Hostname
- PORT 
- Userid
- Password

#### Connecting to Db2

In [ ]:
# Connect to the Db2 STOCKS database on IBM Cloud Pak for Data
database = 'STOCKS'
user = engineer
password = 'tsdvlab'
host = '10.0.0.201'
port = '32443'

%sql CONNECT TO {database} USER {user} USING {password} HOST {host} PORT {port}

To check that the connection is working. Run the following cell. It lists the tables in the database in the **DVDEMO** schema. Only the first 5 tables are listed.

In [ ]:
%sql select TABNAME, TABSCHEMA, OWNER from syscat.tables where TABSCHEMA = 'STOCKS'

Now that you can successfully connect to the database, you are going to create two tables with the same name and column across two different schemas. In following steps of the lab you are going to virtualize these tables in IBM Cloud Paks for Data and fold them together into a single table. 

The next cell sets the default schema to your engineer name followed by 'A'. Notice how you can set a python variable and substitute it into the SQL Statement in the cell. The **-e** option echos the command. 

Run the next cell.

In [ ]:
schema_name = engineer+'A'
table_name = 'DISCOVER'

print("")
print("Lab #: "+str(labnumber))
print("Schema name: " + str(schema_name))
print("Table name: " + str(table_name))

%sql -e SET CURRENT SCHEMA {schema_name}

Run next cell to create a table with a single INTEGER column containing values from 1 to 10. The **-q** flag in the %sql command supresses any warning message if the table already exists.

In [ ]:
sqlin = f'''
DROP TABLE {table_name}; 
CREATE TABLE {table_name} (A INT); 
INSERT INTO {table_name} VALUES 1,2,3,4,5,6,7,8,9,10; 
SELECT * FROM {table_name}; 
'''

%sql -q {sqlin}

Run the next two cells to create the same table in a schema ending in **B**. It is populated with values from 11 to 20.

In [ ]:
schema_name = engineer+'B'
table_name = 'DISCOVER'

print("")
print("Lab #: "+str(labnumber))
print("Schema name: " + str(schema_name))
print("Table name: " + str(table_name))

%sql -e SET CURRENT SCHEMA {schema_name}

In [ ]:
sqlin = f'''
DROP TABLE {table_name}; 
CREATE TABLE {table_name} (A INT); 
INSERT INTO {table_name} VALUES 11,12,13,14,15,16,17,18,19,20; 
SELECT * FROM {table_name}; 
'''
%sql -q {sqlin}

Run the next cell to see all the tables in the database you just created.

In [ ]:
%sql SELECT TABSCHEMA, TABNAME FROM SYSCAT.TABLES WHERE TABSCHEMA LIKE '{engineer}%'

Run the next cell to see all the tables in the database that are like **DISCOVER**. You may see tables created by other people running the lab.

In [ ]:
%sql SELECT TABSCHEMA, TABNAME FROM SYSCAT.TABLES WHERE TABNAME LIKE 'DISCOVER%'

### Virtualizing your new Tables
Now that you have created two new tables you can virtualize that data and make it look like a single table in your database.
1. Return to the IBM Cloud Pak for Data Console
2. Click **Virtualize** in the Data Virtualization menu if you are not still in the Virtualize page
3. Click the refresh icon to update the list of available tables. Data Virtualization caches the last search to avoid a long search through all your data source unless you need it.
    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/RefreshIcon.png?raw=true">
3. Enter your current userid, for example DATAENGINEER1, in the search bar. (The search automatically looks for partial as well as full matches.) 

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Virtualize1.png?raw=true">

6. Select the two tables you just created by clicking the **check box** beside each table. Make sure you only select those for your DATAENGINEERnn schema. (Your table names will include the number of your lab participant number.)

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Virtualize2.png?raw=true">

7. Click **Add to Cart**. Notice that the number of items in your cart is now **2**.

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.29.37 PM.png?raw=true">

8. Click **View Cart**

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.29.43 PM.png?raw=true">

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Virtualize3.png?raw=true">
    
9. Change the name of your two tables from DISCOVER to **DISCOVERA** and **DISCOVERB**. These are the new names that you will be able to use to find your tables in the Data Virtualization database. Don't change the Schema name. It is unique to your current userid. 

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Virtualize4.png?raw=true">

10. Click **Back** upper right of the page. We are going to add one more thing to your cart.

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.31.25 PM.png?raw=true">

11. Click the gear icon at the upper-right of the page. 

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.31.44 PM.png?raw=true">
    
12. Check the box beside **Group tables with identical names**. Notice how all the tables called **DISCOVER** have been grouped together into a single entry.
    
    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.31.55 PM.png?raw=true">    

13. Select the row were all your DISCOVER tables have been grouped together
14. Click **Add to cart**. 
15. Click **View cart**

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.33.09 PM.png?raw=true">
    
    You should now see three items in your cart.
16. Change the name of the new combined table to **DISCOVERFOLD**

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Virtualize5.png?raw=true">

17. Hover over the ellipsis icon at the right side of the list for the **DISCOVER** table

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.33.46 PM.png?raw=true">

18. Select **Edit grouped tables**

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.34.02 PM.png?raw=true">

19. Deselect all the tables except for those in one of the schemas you created. You should now have two tables selected. 
20. Click **Apply**
21. Select **My Virtualized Data**. 
22. Click **Virtualize**. You see that three new virtual tables have been created. 

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.34.39 PM.png?raw=true">
    
    The Virtual tables created dialog box opens.

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Virtualize6.png?raw=true">
     
23. Click **View my virtualized data**. You return to the My virtualized data page.

### Working with your new tables
1. Enter DISCOVER

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.35.31 PM.png?raw=true">
    
You should see the three virtual tables you just created. Notice that you do not see tables that other users have created. By default, Data Engineers only see virtualized tables they have virtualized or virtual tables where they have been given access by other users. 
2. Click the elipsis (...) beside your **DISCOVERFOLD** table and select **Preview** to confirm that it contains 20 rows.
3. Click **Run SQL** from the Data Virtualization menu

<img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/DataVirtualizationMainMenu.png?raw=true">

4. Enter **SELECT * FROM DISCOVERFOLD ORDER BY A;** into the SQL Editor

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.38.06 PM.png?raw=true">

5. Click **Run All** at the bottom left of the SQL Editor window. 

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.36.45 PM.png?raw=true">
    
6. Review the 20 rows returned in the result. Click **More** to see all the rows. The rows from both tables are combined into this new table.

    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.38.02 PM.png?raw=true">

Notice that you didn't have to specify the schema for your new virtual tables. The SQL Editor automatically uses the schema associated with your userid that was used when you created your new tables. 

Now you can:
* Create connection to a remote data source 
* Make a new or existing table in that remote data source look and act like a local table 
* Fold data from different tables in the same data source or access data sources by folding it together into a single virtual table

## Gaining Insight from Virtualized Data

Now that you understand the basics of Data Virtualization you can explore how easy it is to gain insight across multiple data sources without moving data. 

In the next set of steps, you connect to virtualized data from this notebook using your DATAENGINEER userid. You can use the same techniques to connect to virtualized data from applications and analytic tools from outside of IBM Cloud Pak for Data. 

Connecting to all your virtualized data is just like connecting to a single database. All the complexity of dozens of tables across multiple databases on different on premises and cloud providers is now as simple as connecting to a single database and querying a table. 

We are going to connect to the IBM Cloud Pak for Data Virtualization database in exactly the same way we connected to a Db2 database earlier in this lab. However we need to change the detailed connection information in the next notebook cell.

Something new for Cloud Pak for Data Version 3.5: The user id and password that you use to log into the Cloud Pak for Data console are the same one that you use to log into the data virtualization service through an application. This greatly simplifies user management.

#### Connecting to Data Virtualization SQL Engine
Run the cell below. Your DATAENGINEER username is automatically used.

In [ ]:
# Connect to the IBM Cloud Pak for Data Virtualization Database from inside CPD
database = 'bigsql'
user = engineer
password = 'tsdvlab'
host = '10.0.0.201'
port = '31193'

%sql CONNECT TO {database} USER {user} USING {password} HOST {host} PORT {port}

Now that you are connected to the Data Virtualization engine you can query the virtualized tables using all the power in the Db2 SQL query engine. 

There are five tables that are available in each of the data sources. The examples below use a variety of data sources. For simplicity the schema of each data source represents where the data comes from. For example the NETEZZA.STOCK_SYMBOLS table is a virtual table that retrieves it data from a NETEZZA database. For your own projects you can choose any schema. There is no requirement to choose a schema that represents the source.

The first table is a list of customer accounts with the current total number of stock trading transactions and the current account balance.

In [ ]:
%sql -a select * from NETEZZA.STOCK_SYMBOLS ORDER BY SYMBOL FETCH FIRST 5 ROWS ONLY

The same table is also available from a different source. In this case the STOCK_SYMBOLS table from a virtualized XLSX file is available as XLSX.STOCK_SYMBOLS.

In [ ]:
%sql -a select * from XLSX.STOCK_SYMBOLS ORDER BY SYMBOL FETCH FIRST 5 ROWS ONLY

To keep things simple, the virtualized data sources used in these examples have been encapsulated in views each using the TRADING schema. For example, the SQL below was used to map each virtualized table to a view. So you can create SQL to query the tables using the TRADING schema for each table. Later you can drop and recreate a view using a different source and keep the SQL you will run using the TRADING schema. 

    CREATE VIEW TRADING.CUSTOMER AS SELECT * FROM DB2OLTPONCPD.CUSTOMER;
    CREATE VIEW TRADING.PORTFOLIO AS SELECT * FROM XLSX.PORTFOLIO;
    CREATE VIEW TRADING.STOCK_SYMBOLS AS SELECT COMPANY, SYMBOL FROM NETEZZA.STOCK_SYMBOLS;
    CREATE VIEW TRADING.STOCK_HISTORY AS SELECT * FROM EDBSTOCKSONPREMISES.STOCK_HISTORY;
    CREATE VIEW TRADING.STOCK_TRANSACTIONS AS SELECT * FROM DB2AWS.STOCK_TRANSACTIONS;
    CREATE VIEW TRADING.ACCOUNTS AS SELECT * FROM MYSQL.ACCOUNTS;

Now, let's explore some of the queries that we can run to gain insight from these tables. Have a look at the structure of each of the five tables. The represent trading information for a set of customers for a stock brokerage firm.

In [ ]:
%sql -a select * from TRADING.CUSTOMER FETCH FIRST 5 ROWS ONLY

In [ ]:
%sql -a select * from TRADING.PORTFOLIO FETCH FIRST 5 ROWS ONLY

In [ ]:
%sql -a select * from TRADING.STOCK_SYMBOLS FETCH FIRST 5 ROWS ONLY

In [ ]:
%sql -a select * from TRADING.STOCK_HISTORY FETCH FIRST 5 ROWS ONLY

In [ ]:
%sql -a select * from TRADING.STOCK_TRANSACTIONS FETCH FIRST 5 ROWS ONLY

In [ ]:
%sql -a select * from TRADING.ACCOUNTS FETCH FIRST 10 ROWS ONLY

### Building Insight from the Virtualized Tables
Once you have tables virtualized you can use all the power of SQL and the Db2 SQL Engine to build complex and rich queries of your data no mater where it was originally located.
#### Get Price of a Stock over the Year
Set the Stock Symbol in the line below and run the cell. This information is folded together with data coming from two identical tables, one on Db2 database and on on and Informix database. Run the next two cells. Then pick a new stock symbol from the list above, enter it into the cell below and run both cells again.

**Source Cloud Pak for Data - Db2 Warehouse**

In [ ]:
stock = 'AXP'
print('variable stock set to = ' + str(stock))

In [ ]:
%%sql -pl
SELECT WEEK(TX_DATE) AS WEEK, OPEN FROM TRADING.STOCK_HISTORY
WHERE SYMBOL = :stock AND TX_DATE != '2017-12-01'
ORDER BY WEEK(TX_DATE) ASC

#### Trend of Three Stocks
This chart shows three stock prices over the course of a year. It uses the same folded stock history information.

In [ ]:
stocks = ['INTC','MSFT','AAPL']

In [ ]:
%%sql -pl
SELECT SYMBOL, WEEK(TX_DATE), OPEN FROM TRADING.STOCK_HISTORY
WHERE SYMBOL IN (:stocks) AND TX_DATE != '2017-12-01'
ORDER BY WEEK(TX_DATE) ASC

#### 30 Day Moving Average of a Stock
Enter the Stock Symbol below to see the 30 day moving average of a single stock.

In [ ]:
stock = 'AAPL'

In [ ]:
sqlin = \
"""
SELECT WEEK(TX_DATE) AS WEEK, OPEN, 
     AVG(OPEN) OVER (
       ORDER BY TX_DATE
     ROWS BETWEEN 15 PRECEDING AND 15 FOLLOWING) AS MOVING_AVG
  FROM TRADING.STOCK_HISTORY
     WHERE SYMBOL = :stock
  ORDER BY WEEK(TX_DATE)
"""
df = %sql {sqlin}
txdate= df['WEEK']
sales = df['OPEN']
avg = df['MOVING_AVG']

plt.xlabel("Day", fontsize=12);
plt.ylabel("Opening Price", fontsize=12);
plt.suptitle("Opening Price and Moving Average of " + stock, fontsize=20);
plt.plot(txdate, sales, 'r');
plt.plot(txdate, avg, 'b');
plt.show();

#### Trading volume of INTC versus MSFT and AAPL in first week of November
Enter three stock symbols below.

In [ ]:
stocks = ['INTC','MSFT','AAPL']

In [ ]:
%%sql -pb
SELECT SYMBOL, DAY(TX_DATE), VOLUME/1000000 FROM TRADING.STOCK_HISTORY
WHERE SYMBOL IN (:stocks) AND WEEK(TX_DATE) =  45
ORDER BY DAY(TX_DATE) ASC

#### Show Stocks that Represent at least 3% of the Total Purchases during Week 45

In [ ]:
%%sql -pie
WITH WEEK45(SYMBOL, PURCHASES) AS (
  SELECT SYMBOL, SUM(VOLUME * CLOSE) FROM TRADING.STOCK_HISTORY
    WHERE WEEK(TX_DATE) =  45 AND SYMBOL <> 'DJIA'
  GROUP BY SYMBOL
),
ALL45(TOTAL) AS (
  SELECT SUM(PURCHASES) * .03 FROM WEEK45
)
SELECT SYMBOL, PURCHASES FROM WEEK45, ALL45
WHERE PURCHASES > TOTAL
ORDER BY SYMBOL, PURCHASES

### Stock Transaction Table
#### Show Transactions by Customer

**Source EDB Postgres on Cloud Pak for Data**

In [ ]:
%sql -a select * from TRADING.STOCK_TRANSACTIONS WHERE CUSTID ='101804' FETCH FIRST 5 ROWS ONLY

#### Bought/Sold Amounts of Top 5 stocks

In [ ]:
%%sql -a
WITH BOUGHT(SYMBOL, AMOUNT) AS
  (
  SELECT SYMBOL, SUM(QUANTITY) FROM TRADING.STOCK_TRANSACTIONS
  WHERE QUANTITY > 0
  GROUP BY SYMBOL
  ),
SOLD(SYMBOL, AMOUNT) AS
  (
  SELECT SYMBOL, -SUM(QUANTITY) FROM TRADING.STOCK_TRANSACTIONS
  WHERE QUANTITY < 0
  GROUP BY SYMBOL
  )
SELECT B.SYMBOL, B.AMOUNT AS BOUGHT, S.AMOUNT AS SOLD
FROM BOUGHT B, SOLD S
WHERE B.SYMBOL = S.SYMBOL
ORDER BY B.AMOUNT DESC
FETCH FIRST 5 ROWS ONLY

### Customer Accounts
#### Show Top 5 Customer Balance
These next two examples use data from an Informix database

**Source - Informix on Premises**

In [ ]:
%%sql -a
SELECT CUSTID, BALANCE FROM TRADING.ACCOUNTS
ORDER BY BALANCE DESC
FETCH FIRST 5 ROWS ONLY

#### Show Bottom 5 Customer Balance
**AWS - Db2, Azure - Postgres, Azure - Db2**

In [ ]:
%%sql -a
SELECT CUSTID, BALANCE FROM TRADING.ACCOUNTS
ORDER BY BALANCE ASC
FETCH FIRST 5 ROWS ONLY

### Selecting Customer Information from MongoDB
The MongoDB database (running on premises) has customer information in a document format. In order to materialize the document data as relational tables, a total of four virtual tables are generated by the Data Virtualization engine. The following query shows the tables that are generated for the Customer document collection and how to join them into a single relational table.

In [ ]:
%sql -a select TABSCHEMA, TABNAME, COLCOUNT from syscat.tables where TABSCHEMA = 'MONGOONCPD' and TABNAME like 'CUSTOMER%'

The tables are all connected through the CUSTOMERID field, which is based on the generated _id of the main CUSTOMER colllection. In order to reassemble these tables into a document, we must join them using this unique identifier. An example of the contents of the CUSTOMER_CONTACT table is shown below.

In [ ]:
%sql -a SELECT * FROM MONGOONCPD.CUSTOMER_CONTACT FETCH FIRST 5 ROWS ONLY

A full document record is shown in the following SQL statement which joins all of the tables together.

In [ ]:
%%sql -a
SELECT C.CUSTOMERID AS CUSTID, 
       CI.FIRSTNAME, CI.LASTNAME, CI.BIRTHDATE,
       CC.CITY, CC.ZIPCODE, CC.EMAIL, CC.PHONE, CC.STREET, CC.STATE,
       CP.CARD_TYPE, CP.CARD_NO
FROM MONGOONCPD.CUSTOMER C, MONGOONCPD.CUSTOMER_CONTACT CC, 
     MONGOONCPD.CUSTOMER_IDENTITY CI, MONGOONCPD.CUSTOMER_PAYMENT CP
WHERE  CC.CUSTOMER_ID = C."_ID" AND
       CI.CUSTOMER_ID = C."_ID" AND
       CP.CUSTOMER_ID = C."_ID"
FETCH FIRST 3 ROWS ONLY

### Joining Virtualized Data
In this final example we use data from four different data sources to answer a complex business question. "What are the names of the customers in Ohio, who bought the most during the highest trading day of the year (based on the Dow Jones Industrial Index)?" 

**Data Sources: Db2 Warehouse, MongoDB, Enterprise Postgres**

In [ ]:
%%sql -a
WITH MAX_VOLUME(AMOUNT) AS (
  SELECT MAX(VOLUME) FROM TRADING.STOCK_HISTORY
    WHERE SYMBOL = 'DJIA'
),
HIGHDATE(TX_DATE) AS (
  SELECT TX_DATE FROM TRADING.STOCK_HISTORY, MAX_VOLUME M
    WHERE SYMBOL = 'DJIA' AND VOLUME = M.AMOUNT
),
CUSTOMERS_IN_OHIO(CUSTID, LASTNAME) AS (
  SELECT C.CUSTOMERID, CI.LASTNAME
    FROM  MONGOONCPD.CUSTOMER C, 
          MONGOONCPD.CUSTOMER_CONTACT CC,
          MONGOONCPD.CUSTOMER_IDENTITY CI
    WHERE CC.CUSTOMER_ID = C."_ID" AND
          CI.CUSTOMER_ID = C."_ID" AND
          CC.STATE = 'OH'
),
TOTAL_BUY(CUSTID,TOTAL) AS (
  SELECT C.CUSTID, SUM(SH.QUANTITY * SH.PRICE) 
    FROM CUSTOMERS_IN_OHIO C, TRADING.STOCK_TRANSACTIONS SH, HIGHDATE HD
  WHERE SH.CUSTID = C.CUSTID AND
        SH.TX_DATE = HD.TX_DATE AND 
        SH.QUANTITY > 0 
  GROUP BY C.CUSTID
)
SELECT C.LASTNAME, T.TOTAL 
  FROM CUSTOMERS_IN_OHIO C, TOTAL_BUY T
WHERE C.CUSTID = T.CUSTID
ORDER BY TOTAL DESC
FETCH FIRST 5 ROWS ONLY

### Seeing where your Virtualized Data is coming from
You may eventually work with a complex Data Virtualization schema with dozens or hundreds of data sources. As an administrator or a Data Scientist you may need to understand where data is coming from. 

Fortunately, the Data Virtualization engine is based on Db2. It includes the same catalog of information as does a Db2 database with some additional features. If you want to work backwards and understand where each of your virtualized tables comes from. The list of virtualized tables is included in the **SYSCAT.NICKNAMES** catalog table. 

Run the following SQL to see all the virtual tables in your Data Virtualization system. We exclude the **DVSYS** schema since it contains system created virtual tables (nicknames), not user created virtual tables.

In [ ]:
%%sql -a
SELECT TABSCHEMA, TABNAME
  FROM SYSCAT.NICKNAMES
    WHERE TABSCHEMA != 'DVSYS'
    ORDER BY TABSCHEMA, TABNAME

If you want to see exactly where a virtualized table comes from you can substitute the the schema and virtual table name in the following SQL procedure. For example the next cell retrieves the location of the NETEZZA.STOCK_SYMBOLS table. You can see the source schema name the source table name as well as the connection information.

In [ ]:
%%sql -a 
select * from table(dvsys.GET_VT_SOURCES('NETEZZA', 'STOCK_SYMBOLS'))

To see the source of all your virtual tables we just need to join the query and the procedure call.

In [ ]:
%%sql -a
SELECT N.TABSCHEMA AS TABSCHEMA, N.TABNAME AS TABNAME, S.SRCTABNAME AS SRCTABNAME, S.SRCSCHEMA AS SRCSCHEMA, S.SRCTYPE AS TYPE, S.DRIVER AS DRIVER, S.URL AS URL, S.USER AS USER, S.HOSTNAME AS HOSTNAME, S.PORT AS PORT, S.DBNAME AS DBNAME
  FROM SYSCAT.NICKNAMES N, TABLE(
  DVSYS.GET_VT_SOURCES(N.TABSCHEMA, N.TABNAME)) S
  WHERE N.TABSCHEMA != 'DVSYS'

As part of this lab, a view had already been created in the DV engine that encapsulates the query above. It is the **ADMIN.REMOTETABLESOURCE** view. Run the following SQL to see how it works. Notice that you can use it just like any table and qualify the results with a where or order by clause. In this example we are listing all the virtual tables that come from a Netezza source server.

Access has been granted to all users to this view. But you can choose to limit who can use it by granting or revoking permissions to it.

In [ ]:
%%sql -a 
SELECT TABSCHEMA, TABNAME 
    FROM ADMIN.REMOTETABLESOURCE 
    WHERE TYPE = 'Netezza'
    ORDER BY 'TABSCHEMA', 'TABNAME'

You can also find the which tables a view is dependent on by querying the SYSCAT.TABDEP table. Run the example below. There is a line in the result set for each table that a view is dependent on. For example in the results below, the TRADING.ACCOUNTS view is dependent on on virtual table: INFORMIX.ACCOUNTS. The OHIO query is much more complex and is dependent on a number of views and tables. For example it uses the TRADING.STOCK_HISTORY view which in turn pulls data from the DB2WAREHOUSE.STOCK_HISTORY table. Because of this both dependencies are listed.

In [ ]:
%%sql -a
select tabschema,
       tabname,
       bschema as dependent_schema,
       bname as dependent_name
from syscat.tabdep
where dtype = 'V'
      and tabschema not like 'SYS%'
      and tabschema = 'TRADING'
order by tabschema, tabname, dependent_schema, dependent_name;

## Advanced Data Virtualization 
Now that you have seen how powerful and easy it is to gain insight from your existing virtualized data, you can learn more about how to do advanced data virtualization. You will learn how to join different remote tables together to create a new virtual table and how to capture complex SQL into VIEWs.


### Joining Tables Together
The virtualized tables below come from different data sources on different systems. We can combine them into a single virtual table. 

1. Select **My virtualized data** from the Data Virtualization menu
2. Enter **TRADING** in the find field

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/SearchForTrading.png?raw=true">
  
3. Select the **STOCK_TRANSACTIONS** table
4. Select the **STOCK_SYMBOLS** table

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/TradingTablesSelected.png?raw=true">
  
5. Click **Join**
6. In table STOCK_SYMBOLS: deselect **SYMBOL**
7. In table STOCK_TRANSACTIONS: deselect **TX_NO** 
8. Click **STOCK_TRANSACTION.SYMBOL** and drag to **STOCK_SYMBOLS.SYMBOL**

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.46.50 PM.png?raw=true">
 
9. Click **Next**

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.47.46 PM.png?raw=true">
  
10. Check that you can now see both the stock symbol and the full company name. You can also change column names in this page.
  
  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.48.46 PM.png?raw=true">

11. Click **Next**

12. Enter **TRANSACTIONS_FULLNAME** into the **Enter view name** field.
13. Don't change the default schema. This corresponds to your DATAENGINEER user id. 
14. Select **My virtualized data** 

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/MyVirtualizedData.png?raw=true">
  
15. Click **CREATE VIEW**. You see the successful Join View window.

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/SuccessfulJoin.png?raw=true"> 
  
16. Click **View my virtualized data**
17. Click the elipsis menu beside **TRANSACTIONS_FULLNAME**
18. Click **Preview**. You can confirm that your new join is working.
18. Click **Back**
19. Click **View meta data** from the **TRANSACTIONS_FULLNAME** elipsis menu.
    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.53.20 PM.png?raw=true"> 

20. Click **Creation SQL**. You can review the statement used to create the view that joins the two tables together.   
21. Click the **X** at the upper-right of the View screen.
22. Click **Back**

You can now join virtualize tables together to combine them into new virtualized tables. Now that you know how to perform simple table joins you can learn how to combine multiple data sources and virtual tables using the powerful SQL query engine that is part of the IBM Cloud Pak for Data - Virtualization.

### Using the SQL Editor to Answer Complex Business Questions
The IBM Cloud Pak for Data Virtualization Administrator has set up more complex data from multiple source for the next steps. The administrator has also given you access to this virtualized data. You may have noticed this in previous steps. 
1. Select **My virtualized data** from the Data Virtualization menu. All of these virtualized tables look and act like normal Db2 tables. 
2. Click **Preview** for any of the tables to see what they contain.
3. Select **Run SQL** from the Data Virtualization menu.
4. Click **Add new script**

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 3.54.26 PM.png?raw=true">
  
5. Click **Open a script to edit** tab
8. Search for **OHIO Query**
9. Select and expand the **OHIO QUERY**

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 4.59.25 PM.png?raw=true">

10. Click the **Open a script to edit** tab open the script in the SQL Editor. 
11. Click **Run All**

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 4.59.50 PM.png?raw=true">

This script is a complex SQL join query that uses data from many of the virtual data sources you explored in the first steps of this lab. While the SQL looks complex the author of the query did not have to be aware that the data was coming from multiple sources. Everything used in this query looks like it comes from a single database, not eight different data sources across eight different systems on premises or in the Cloud.

### Making Complex SQL Simple to Consume
You can easily make this complex query easy for a user to consume. Instead of sharing this query with other users, you can wrap the query into a view that looks and acts like a simple table. 
1. Enter **CREATE VIEW MYOHIOQUERY AS** in the SQL Editor at the first line below the comment and before the **WITH** clause

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-16 at 5.00.24 PM.png?raw=true">

2. Click **Run all**
3. Click **Add a new script**
5. Click **Choose script source**
6. Click **Create new**
7. Enter **SELECT * FROM MYOHIOQUERY;**
8. Click **Run all**
9. Add another line in your script: **SELECT LASTNAME FROM MYOHIOQUERY WHERE TOTAL > 1000;**
10. Click **Run all**

Now you have a very simple virtualized table that is pulling data from eight different data sources, combining the data together to resolve a complex business problem. In the next step you will share your new virtualized data with a user.

### Sharing Virtualized Tables
1. Select **Virtualization->My virtualized data** from the Data Virtualization Menu.
2. Click the ellipsis (...) menu to the right of the **MYOHIOQUERY** virtualized table

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/OHIOSearch.png?raw=true">
  
3. Select **Manage Access** from the elipsis menu

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Screen Shot 2020-07-17 at 1.45.18 PM.png?raw=true">
 
3. Click **Grant access**

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/ManageAccessMYOHIOQUERY.png?raw=true">

4. Search for **User**. 

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/GrantAccessTolabuser.png?raw=true">

4. Check the box beside **Lab User** and click **Add users**
    <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/GrantAccessTolabuserCheckbox.png?raw=true">
  
5. Click **Add**

You should now see that the **Lab User** id has view-only access to the new virtualized table. 

  <img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/GrantUserAdded.png?raw=true">

Next switch to the **Lab User** id to check that you can see the data you have just granted access for.

9. Click the user icon at the very top right of the console
10. Click **Log out**
11. Sign in using the **labuser** id with password **tsdvlab**
12. Click the three bar menu at the top left of the IBM Cloud Pak for Data console
13. Select **Data Virtualization->My virtualized Data**

You should see the **MYOHIOQUERY** with the schema from your engineer userid in the list of virtualized data.

14. Make a note of the schema of the MYOHIOQUERY in your list of virtualized tables. It starts with **DATAENGINEER** which corresponds to your username.
15. Select the **SQL Editor** from the Data virtualization menu
16. Click **Create new** to open a new SQL Editor window
17. Enter **SELECT * FROM DATAENGINEERx.MYOHIOQUERY** where x is the user number of your engineer user. The view created by your engineer user was created in their default schema. 
18. Click **Run all**
19. Add the following to your query: ** WHERE TOTAL > 3000 ORDER BY TOTAL**
20. Click **</>** to format the query so it is easiler to read
21. Click **Run all**

You can see how you have just made a very complex data set extremely easy to consume by a data user. They don't have to know how to connect to multiple data sources or how to combine the data using complex SQL. You can hide that complexity while ensuring only the right user has access to the right data. 

In the next steps you will learn how to access virtualized data from outside of IBM Cloud Pak for Data.

### Allowing User to Access Virtualized Data with Analytic Tools
In the next set of steps you connect to virtualized data from this notebook using the **LABUSER** userid. 

Just like you connected to IBM Cloud Pak for Data Virtualized Data using your DATAENGINEER user id you can connect using the LABUSER id. The cell below is prefilled since everyone will use the same LABUSER id.

#### Connecting a USER to Data Virtualization SQL Engine

In [ ]:
# Connect to the IBM Cloud Pak for Data Virtualization Database from inside CPD
database = 'bigsql'
user = 'labuser'
password = 'tsdvlab'
host = '10.0.0.201'
port = '31193'
%sql CONNECT TO {database} USER {user} USING {password} HOST {host} PORT {port}

Now you can try out the view that was created by the DATAENGINEER userid. 

Substitute the **x** for the schema used by your ***DATAENGINEERx*** user in the next two cells before you run them.

In [ ]:
%sql SELECT * FROM DATAENGINEERx.MYOHIOQUERY WHERE TOTAL > 3000 ORDER BY TOTAL;

Only DATAENGINEER virtualized tables that have been authorized for the LABUSER to see are available. Try running the next cell. You should receive an error that the current user does not have the required authorization or privlege to perform the operation.

In [ ]:
%sql SELECT * FROM DATAENGINEERx.DISCOVERFOLD;

### Next Steps:
Before you start the next section you should log out from the shared lab userid and log back in using your DATAENGINEER id:
1. Click the user icon at the very top right of the console
2. Click **Log out**
3. Sign in using your DATAENGINEERx user id
4. Click the four-bar menu at the top left of the IBM Cloud Pak for Data console
5. Select **Data Virtualization**

Now you can use IBM Cloud Pak for Data to make even complex data and queries from different data sources, on premises and across a multi-vendor Cloud look like simple tables in a single database. You are ready for some more advanced labs. 

1. Learn how to classify and protect your virtualized data using Watson Knowledge Catalog
2. Use Open RESTful Services to connect to the IBM Cloud Pak for Data Virtualization 
    * Everything you can do in the IBM Cloud Pak for Data User Interface is accessible through Open RESTful APIs
    * Learn how to automate and script your managment of Data Virtualization using RESTful API
    * Learn how to accelerate application development by accessing virtualized data through RESTful APIs

## Protecting Virtualized Data using Watson Knowledge Catalog

IBM Watson Knowledge Catalog (included with IBM Cloud Pak for Data) powers intelligent, self-service discovery of data, models and more, activating them for artificial intelligence, machine learning and deep learning. Access, curate, categorize and share data, knowledge assets and their relationships, wherever they reside.

You can use a Data Governance data protection rule to mask virtual data. When queried, masked columns return disguised data.

Data masking applies to the result sets of the queries only. The original data in tables and columns remains untouched. Masking does not apply to query predicates. You can use data masking to avoid exposing sensitive data. However, data masking does not stop Data Virtualization user from connecting to the service and running queries against that data. Users can join and group data, generate the reports, perform analytics and collect insights by using the raw data, while masking the result set only.

More information is available at: https://www.ibm.com/support/producthub/icpdata/docs/content/SSQNUZ_current/cpd/svc/dv/masking.html

### Protecting the Credit Card Numbers in the Virtual Customer Data Tables
In this example you explore how to protect data through Data Virtualization and Watson Catalog. The CUSTOMER tables included in this lab environment include a column containing confidential customer credit card data. The lab environment is setup with rules that classify credit card numbers are confidential. While the user who created the virtual table or view can see all the data, other users only see redacted data in the credit card number column.

### Enable Policy Enforcement of Virtualized Data
Before you can establish rules to protect virtualized data, the Cloud Pak for Data Administrator must enable policy enforcement and data visibility restrictions in the Data Virtualization Settings. As a Data Engineer user you do not have access to Data Virtualization settings. You need Cloud Pak for Data Administrative authority. To make the changes on your own cluster: Select **Service Settings** from the Data Virtualization menu and select the **Governance** tab. 

<img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/ServiceSettings.png?raw=true">

You can then ensure that **Governance policies** and **Publish to catalog** are both set to **Enforced**.

<img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/ServiceSettingsGovernance.png?raw=true">

### Request to Publish Virtualized Tables to Watson Knowledge Catalog
To protect virtualized data you need to add the virtualized table to the Watson Knowledge Catalog. Since we have one rule already in place any of the virtual tables you create were automatically added to the catalog. 

You may remember seeing the following message when you created your virtual tables:
<img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Virtualize7.png?raw=true">

### Approving Publish Request
In an environment without any data rules, a user with Data Steward authority needs to approve the request to add the CUSTOMER_PAYMENT table in your DATAENGINEER schema to the catalog. In this lab that happened automatically to ensure that no data escapes the rules.

### Check and Classify your Virtualized Data
Once data has been added to the Watson Knowledge catalog you can review the data and classify it.
1. Select **Catalogs** and **All catalogs** from the main Cloud Pak for Data menu
2. Click **Default Catalog**
3. Enter **CUSTOMER** into the search bar
4. Click the **DB2OLTPONCPD.CUSTOMER** table
5. Click the **Profile** tab. You may need to log in again as the DATAENGINEERnn. Notice the drop down selection available below each column title. This is the data classification. While Waston Knowledge Catalog will attempt to classify new columns in new tables you may have to manually classify data. In this example the table was added by the administrator userid and the CARD_NO column was manually classified as Credit Card Data.
6. Scroll to the right to check the CARD_NO column. If profiling is complete you should see details on all the columns except for CARD_NO. Notice that the Credit Card Number column is unavailable because the data in the column is anonymized.
<img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/CUSTOMERProfile.png?raw=true">

### Review the existing Data Protection Rules
Now we can check the rules that are already in place that control how users can access our virtualized data.
1. Select **Governace** and **Rules** from the main Cloud Pak for Data menu
<img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Rules.png?raw=true">
2. Click **Mask Credit Card Numbers**
<img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/MaskCreditCardNumbers.png?raw=true">
3. Click **Edit**. While, you are not going to make any changes to the rule, you can review the options.
<img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/RuleEdit.png?raw=true">
4. Click **Cancel**

You can find out more about Data Protection Rules in the Cloud Pak for Data Knowledge Center: https://www.ibm.com/support/producthub/icpdata/docs/content/SSQNUZ_current/wsj/governance/dmg_rules.html

### Preview Data in the Cloud Pak for Data Console
Once you data has been classified and profiled protection is in place. Following the established protection rule, the credit card number will be redacted (replaced with Xs) everywhere it is accessible through Cloud Pak for Data. As you saw in the last step, it is reacted when you, and other users, interact with it through Watson Knowledge Catalog. 

It is also redacted if you access the data through the Data Virtualization console. 

Next, preview the data you just reviewed:
1. Select **Data** and **Data virtualization** from the main Cloud Pak for Data menu
2. Select **My virtualized data** from the Data virtualization menu
3. Enter **CUSTOMER** in the **Find virtual objects** search
4. Click the **DB2OLTPONCPD.CUSTOMER** table
5. Click the ellipsis menu to the right of that row
6. Select **Preview**. The CARD_NO column should be redacted with Xs.
<img src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/MaskedVirtualTable.png?raw=true">

### Test Data Protection
Importantly, the Credit Card information is protected when the data is access from an outside application. Let's reconnect to the Data Virtualization Engine as your DATAENGINEER user.

In [ ]:
# Connect to the IBM Cloud Pak for Data Virtualization Database from inside CPD
database = 'bigsql'
user = engineer
password = 'tsdvlab'
host = '10.0.0.201'
port = '31193'

%sql CONNECT TO {database} USER {user} USING {password} HOST {host} PORT {port}

Now we can run a test query

In [ ]:
%sql SELECT * FROM DB2OLTPONCPD.CUSTOMER FETCH FIRST 10 ROWS ONLY;

You should see the CARD_NO column results only return Xs. Any application that accesses this data through the Data Virtualization engine will be redacted in the same way. Remember you are still connected through Python as the USER id.

## Automating Data Virtualization Setup and Management through REST

The IBM Cloud Pak for Data Console is only one way you can interact with the Virtualization service. IBM Cloud Pak for Data is built on a set of microservices that communicate with each other and the Console user interface using RESTful APIs. You can use these services to automate anything you can do through the user interface.

This Jupyter Notebook contains examples of how to use the Open APIs to retrieve information from the virtualization service, how to run SQL statements directly against the service through REST and how to provide authorization to objects. This provides a way write your own script to automate the setup and configuration of the virtualization service.

The next part of the lab relies on a set of base classes to help you interact with the RESTful Services API for IBM Cloud Pak for Data Virtualization. You can access this library on GITHUB. The commands below download the library and run them as part of this notebook.
<pre>
&#37;run CPDDVRestClassV402.ipynb
</pre>
The cell below loads the RESTful Service Classes and methods directly from GITHUB. Note that it will take a few seconds for the extension to load, so you should generally wait until the "Db2 Extensions Loaded" message is displayed in your notebook. You can click on the following like to browse the RESTful Services class file: https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/RESTfulEndpointServiceClass402.ipynb. You are free to download and reuse this sample for your own applications.

1. Click the cell below
2. Click **Run**

In [ ]:
!wget -O CPDDVRestClassV402.ipynb https://raw.githubusercontent.com/Db2-DTE-POC/CPDDVHOL4/main/CPDDVRestAPIClass402.ipynb
%run CPDDVRestClassV402.ipynb

### The DV REST Class
The CPDDVRestClassV402.ipynb notebook includes a Python class called DVREST that encapsulates the Rest API calls used to connect to the IBM Cloud Pak for Data Virtualization service. 

To access the service you need to first authenticate with the service and create a reusable token that we can use for each call to the service. This ensures that we don't have to provide a userID and password each time we run a command. The token makes sure this is secure. 

Each request is constructed of several parts. First, the URL and the API identify how to connect to the service. Second the REST service request that identifies the request and the options. For example '/metrics/applications/connections/current/list'. And finally some complex requests also include a JSON payload. For example running SQL includes a JSON object that identifies the script, statement delimiters, the maximum number of rows in the results set as well as what do if a statement fails.

### Example Connections
To connect to the Data Virtualization service you need to provide the URL, the service name (v1) and profile the console user name and password. 

1. Substitute your assigned DATAENGINEER userid below along with your password you used to log into IBM Cloud Pak for Data at the beginning of the lab. 
2. Run the next cell. 

The cell generates a bearer token that is used in the following steps to authenticate your use of the API.

#### Connecting to Data Virtualization API Service

In [ ]:
# Set the service URL to connect from inside the ICPD Cluster
Console  = 'https://10.0.0.201:31192'

# Connect to the Db2 Data Management Console service
user     = engineer
password = 'tsdvlab'

# Set up the required connection
databaseAPI = DVRESTAPI(Console)
api = '/v1'
databaseAPI.authenticate(api, user, password)
database = Console

#### Data Sources and Availability
The following Python function (getDataSources) runs SQL against the **QPLEXSYS.LISTRDB** catalog table and combines it with a stored procedure call **QPLEXSYS.LISTRDBCDETAILS()** to add the **AVAILABLE** column to the results. The IBM Cloud Pak for Data Virtualization Service checks each data sources every 5 to 10 seconds to ensure that it is still up and available. In the table (DataFrame) in the next cell a **1** in the **AVAILABLE** column indicates that the data source is responding. A **0** indicdates that it is not longer responding. 

Run the following cell.

In [ ]:
# Display the Available Data Sources already configured

dataSources = databaseAPI.getDataSources()
display(dataSources)

#### Virtualized Data
This call retrieves all of the virtualized data available to the role of Data Engineer. It uses a direct RESTful service call and does not use SQL. The service returns a JSON result set that is converted into a Python Pandas dataframe. Dataframes are very useful in being able to manipulate tables of data in Python. If there is a problem with the call, the error code is displayed.

In [ ]:
# Display the Virtualized Assets Avalable to Engineers and Users
roles = ['DV_ENGINEER']
for role in roles:
    r = databaseAPI.getRole(role)
    if (databaseAPI.getStatusCode(r)==200):
        json = databaseAPI.getJSON(r)
        df = pd.DataFrame(json_normalize(json['objects']))
        display(df)
    else:
        print(databaseAPI.getStatusCode(r))

#### Virtualized Tables and Views
This call retrieves all the virtualized tables and views available to the userid that you use to connect to the service. In this example the whole call is included in the DVRESTAPI class library and returned as a complete Dataframe ready for display or to be used for analysis or administration.

In [ ]:
### Display Virtualized Tables 
display(databaseAPI.getVirtualizedTablesDF())

In [ ]:
### Display Views 
display(databaseAPI.getVirtualizedViewsDF())

#### Get a list of the IBM Cloud Pak for Data Users
This example returns a list of all the users of the IBM Cloud Pak for Data system. It only displays three colunns in the Dataframe, but the list of all the available columns is als printed out. Try changing the code to display other columns.

In [ ]:
# Get the list of Cloud Pak for Data Users
display(databaseAPI.getUsersDF()[['uid','username','displayName','user_roles','role']])

#### Get the list of enabled Data Virtualization Caches
This operation is only available to Cloud Pak for Data and Data Virtualization Administrators. So you will receive an error message. Using the API calls is not a back door past basic security.

In [ ]:
#Get the list of active Data Virtualization Caches, only available for adminstrators
display(databaseAPI.getCaches())

### What's next
You can download a copy of your completed Jupyter notebook as a reference:
1. Click **File** from the Jupyter notebook main menu
2. Select **Download as**
3. Select **Notebook** if you want to use this notebook in your own Jupyter environment
4. Select **HTML** if you want a read only version of the notebook for reference

Check out the Cloud Pak for Data Advanced Administrator Hands on Labs and Demonstrations in the Advanced Hands-on Labs Project.

#### Credits: IBM 2021-2022, Peter Kohlmann [kohlmann@ca.ibm.com]